*{box-sizing: border-box;}

html {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    z-index: 2;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100vw;
  }

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
}

nav a:hover {
    transition-duration: 500ms;
    background-color: #555;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    background-image: url("../images/backdrop.png");
    background-size: 30%;
    background-repeat: repeat-y repeat-x;
}

.banner {
    border-radius: 0 0 5% 5%;
    padding-bottom: 15em;
    padding-top: 4em;

    text-align: center;
    text-shadow: 1px 1px 1px #333;
    color: white;

    background-image: url("../images/banner.jpg"), linear-gradient( 135deg, #9913ec69 10%, #f370296b 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner h1 {
    font-family: 'Kaushan Script';
    font-size: 80px;
    margin-bottom: 0.5em;
}

.wrapper {
    display: block;
    position: absolute;
    top: 50%;
    margin: 0 18%;
    padding: 5%;
    
    border-radius: 3%;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    background-color: white;
}

/* LETTERS */
.postcard-block {
    position: relative;
    text-align: center;
}

.postcard-block img {
    padding: 2% 2% 10% 2%;
    background-color: white;
    box-shadow: 4px 4px 5px 3px rgba(0,0,0,0.3);
}

.postcard-block .paperclip {
    box-shadow: none;
    background-color: transparent;
    width: 14%;
    position: absolute;
    top: -3vh;
    right: 13.5vw;
}

.wrapper-letter {
    display: block;
    position: absolute;
    top: 40%;
    margin: 1em 18%;
    padding: 5%;
    
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    background-color: #f6eee3;
}

.postcard {
    transform: rotate(2deg);
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    width: 300px;
    height: 350px;
    margin: auto;
}

.content-letter {
    display: block;
}

.content-letter h2 {
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
    margin-bottom: 1em;
}

.content-letter p {
    font-family: 'Just Another Hand', cursive;
    font-size: 25px;
    text-indent: 30px;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: justify;
}

.content-letter .regards-p {
    margin-top: 60px;
    text-align: right;
    line-height: 1;
}

.content-center {
    display: flex;
    flex-direction: column;
}

.content-center p {
    font-family: 'Just Another Hand';
    font-size: 30px;
}

.content-center .main-desc {
    text-align: center;
}

.content-center img {
    padding: 5% 5% 20% 5%;
    margin-left: 20px;
    margin-right: 20px;

    background-color: white;
    box-shadow: 1px 1px 23px rgba(0,0,0,0.5);
    object-fit: cover;
    width: 300px;
    height: 350px;
}

.content-center h1 {
    font-family: 'Kaushan Script';
}

.content-center p {
    text-align: justify;
    line-height: 1.2;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.content-center .item {

    margin-bottom: 40px;

    img {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rotate-right {
        transform: rotate(2deg);
    }

    .rotate-left {
        transform: rotate(-2deg);
    }

    .rtl {
        direction: rtl;
    }

    .ltr {
        direction: ltr;
    }

    .item-text {
        padding-right: 20px;
        text-align: justify; 
    }

    .item-text h2 {
        font-family: 'Just Another Hand';
        font-weight: normal;
        font-size: 30px;
    }
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.content-grid-item {
    width: 100%;
    margin: 0 auto;

    text-align: center;
    
    color: black;   
}

.content-grid-item h2, .content-center h2 {
    font-family: 'Kaushan Script';
    margin-bottom: 0;
}

.main-pfp {
    border-radius: 10%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: white;
}

.overlay p, .overlay h2 {
    opacity: 0;
    transition: .5s ease;
}

.content-grid-item:hover .overlay, .content-grid-item:hover .overlay *{
    opacity: 1; 
}

hr {
    width: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    border: none;
    border-bottom: 5px dotted #f370296b;
}

a {
    color: black;
    text-decoration: none;
}